* {
  margin: 0;
  padding: 0;
  font-family: 'Verdana Pro' !important;
}
body {
  background-color: white;
}
.image {
  background-image: url("./photo/unnamed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
}
h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 12px;
  letter-spacing: 0;
  color:#54585A;
}
p {
  font-weight: 500;
  font-size: 16px;
  color:#262626;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 16px;
  text-align-last:right;
}
.right-text{
text-align: right;
padding-top: 8%;
}
.float-Right {
float: right;
}
.text-row{
margin-right: 0px;
}
.primary {
min-width: 150px;
background-color:#55799B;
border-radius:30px;
border:1px solid #55799B;
cursor:pointer;
font-size:16px;
font-weight: 600;
padding:10px 20px;
} 
.primary a{
text-decoration: none;
color:#ffffff;
}
.primary:hover {
background-color:#446688;
} 
.button-text{
text-align: right;
}
/* media*/
@media(max-width: 769px){
    .right-text {
      margin: 0 auto;
      text-align: center;
      padding-top: 14%;
       padding-left: 12px;
      }
      .button-text{
        text-align: center !important;
      }
      .full-content{
        width: 100%;
      }
      .di-none{
        display: none;
      }
      .text-row {
        padding-left: 12px;
      }
      .float-Right {
float: none;        
text-align: center;
text-align-last: center;}
}
@media(max-width: 426px){
  .right-text {
    padding-top:18%;
  }
  
}

@media(min-width:1441px){
.full-content{
  width:1440px;
  margin:0 auto;
}
}
@media(min-width:1440px){
.button-text{
  padding-left: 88%;
  width:200px;
}
}
